.left {
  display: flex;
}
.right {
  padding: 0 10px;
}
.leftItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  &:hover {
    background-color: #eaeaea;
    cursor: pointer;
  }
  &[data-active='true'] {
    background-color: #eaeaea;
  }
}
