.listItem {
  align-items: center;
}
.time {
  color: #666666;
}
.messageContent {
  max-width: 100%;
}
.simpleMessage {
  min-width: 200px;
  max-width: 400px;
  margin: -12px -16px;
  .msg {
    margin-left: 20px;
  }
}
