.item {
  display: flex;
  align-items: center;
  width: 100%;
  &[data-right='true'] {
    flex-direction: row-reverse;
    & > .content {
      margin: 0 5px;
      color: #0f170a;
      &[data-msg-type='text'] {
        background-color: #95ec69;
      }
    }
  }
  &:nth-child(n) {
    margin-top: 15px;
  }
  & > .avatar {
    align-self: flex-start;
    width: 30px;
    height: 30px;
  }
  & > .content {
    max-width: 400px;
    margin: 0 5px;
    padding: 5px;
    font-size: 16px;
    line-height: 20px;
    white-space: pre-wrap;
    word-break: break-all;
    border-radius: 3px;
    &[data-msg-type='text'] {
      background-color: #fff;
    }
  }
  & > .error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: #ff4d4f;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
