.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #666666;
  &:hover {
    cursor: pointer;
  }
}
.img {
  max-width: 300px;
  height: auto;
  &:hover {
    cursor: pointer;
  }
}
