.index {
  position: fixed;
  top: 100px;
  left: 0px;
  z-index: 5;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 5px #999999;
  &[data-display='true'] {
    visibility: visible;
  }
  &[data-display='false'] {
    visibility: hidden;
  }
  .drag {
    &:hover {
      cursor: pointer;
    }
  }
  & > .header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #eaeaea;
    &:hover {
      cursor: move;
    }
    & > div {
      flex: 1;
    }
    & > .center {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666666;
      font-size: 12px;
    }
    & > .left {
      display: flex;
      align-items: center;
      & > .dot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        margin-left: 20px;
        background-color: #ff5e5e;
        border-radius: 12px;
        &:hover {
          cursor: pointer;
          &:after {
            font-size: 10px;
            line-height: 12px;
            content: 'x';
          }
        }
      }
    }
    & > .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
    }
  }
}
